html{
    font-family: "ヒラギノ丸ゴ Pro W4";
/* フォントがおかしいので調整必要 */
}

body{
    width: 600px;
    margin: 0 auto;
}

.menu-box{
   display: flex; 
   justify-content: space-between;
   
   
}

.menu{
    border:1px solid #000;
    width: 100px;
    height: 50px;
    margin: auto;
    background-color:#65BBE9 ;
    color: #ffff;
    text-align: center;
    line-height: 51px;
}

.main-text{
    margin-top: 50px;
    
}

.main-img{
    width: 600px;
    height: 35%;
    
    
}

.calender{
    border: solid 1px;
    width: 100%;
    text-align: center;
}

.apile1{
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    background-color:#65BBE9 ;
    color: #ffff;

}

.apile2{
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    background-color:#65BBE9 ;
    color: #ffff;


}

.apile3{
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    background-color:#65BBE9 ;
    color: #ffff;

}

.link{
    text-decoration: none;
    color: #000;
    
}

.link:hover{
    color: aliceblue;
}

.page-fotter{
 background-image:url(../img/okumono_kumo2523.png) ;
 background-size: cover;

}

.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
}


